<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Characters Team Page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>
        <h1 class="hidden">All About the Team</h1>
        <img id="main-logo" src="images/logo.svg" alt="avengers logo">
    </header>

    <main id="app">
        <nav id="character-nav">
            <ul class="characters">
                <!-- hero thumb component goes here -->
                <theherothumb @loadlbdata="loadLightbox" v-for="hero in heroData" :hero="hero"></theherothumb>
            </ul>
        </nav>

        <article>
            <h3>Choose Your Hero!</h3>
            <p>Use your mouse to hover / click to discover more about each Marvel character</p>
        </article>

        <!-- custom lightbox component goes here -->
        <thelightbox @closelightbox="this.showLB=false" v-if="showLB" :item="lbData"></thelightbox>
        <!-- end lightbox -->
    </main>
    <!-- make this a sticky footer so it's always at the bottom-->
    <footer class="sticky_footer">
        <h3>All Images &copy; Marvel</h3>
    </footer>
    
    <!-- load script tags at the bottom -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js" type="module" defer></script>
</body>
</html>